@model IEnumerable<Prolab.Models.Book>



@using (Html.BeginForm("BarCodeReader", "barcode", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h2>Barcode</h2>
            <input type="file" name="BarCodeUpload" class="form-control col-4" id="barCodeUpload" /><br />
            <input type="submit" class="btn btn-primary" id="UploadButton" value="Generate" /><br />
            <hr />
            <span class="btn alert">@ViewBag.ErrorMessage</span><br />
            @if (ViewBag.BarcodeImage != null)
            {
                <img src="@ViewBag.BarcodeImage" alt="" />
            }

        </div>
    </div>
}


@using (Html.BeginForm("BarCodeReader", "barcode", FormMethod.Get))
{
    <input type="text" class="form-control col-4" value="@ViewBag.BarCode" />

    <input type="submit" value="Search" />


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookname)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bookname)
                </td>
            </tr>

        }
    </table>
}
